@import "../deskpro/variables";
$dp-sonic-primary: map_get($dp-colors, 'dp-sonic-primary');
$dp-greyscale-400: map_get($dp-colors, 'dp-greyscale-400');
$dp-greyscale-950: map_get($dp-colors, 'dp-greyscale-950');

$light-blue: #E9F7FF;
$options-menu-transition: all 0.25s ease-in;
$options-menu-width: 40px;

@mixin border-via-box-shadow($color, $top: '', $right: '', $bottom: '', $left : '')
{
  @if ($top == '') {
    $top: $color;
  }
  @if ($right == '') {
    $right: $color;
  }
  @if ($bottom == '') {
    $bottom: $color;
  }
  @if ($left == '') {
    $left: $color;
  }

  @if $color == none {
    box-shadow: none;
  } @else {
    box-shadow:
      0 1px 0 0 $top inset, /* top */
      -1px 0 0 0 $right inset, /* right */
      0 -1px 0 0 $bottom inset, /* bottom */
      1px 0 0 0 $left inset /* left */
    ;
  }
}

.dp-trello-card-list .options-multiple:hover .options-hint { $color: $dp-sonic-primary }

.dp-trello-card-list .options-multiple .options-hint
{
  position: absolute;
  z-index: 2;
  right: -1 * $options-menu-width;
  top: 0;
  bottom: 0;

  width: $options-menu-width;

  color: $dp-greyscale-950;
  background-color: #FFFFFF;

  transition: $options-menu-transition;

  &:hover { background-color: $light-blue; }
  &:hover ~ .options:not(:hover) { left: 80%; }
}

.dp-trello-card-list .options-multiple .options
{
  position: absolute;
  z-index: 4;
  left: 100%;
  top: 0;
  bottom: 0;

  margin-left: 5px;
  margin-top: 5px;

  width: $options-menu-width;
  transition: $options-menu-transition;

  &:hover { left: 80%; }

  //nav {
  //  border: solid 1px $dp-sonic-primary;
  //  border-right-width: 0;
  //  box-shadow: -1px 0 0 0 $dp-sonic-primary inset; /* right */
  //  border-radius: 0.285714rem;
  //  background-color: rgba(255,255,255, 1);
  //}
}

.dp-trello-card-list .options-single, .dp-trello-card-list options-multiple
{
  padding: 0.5em;
  border-left: solid 1px $dp-sonic-primary;
}

.dp-trello-card-list .options-single
{
  position: absolute;
  z-index: 2;
  right: -1 * $options-menu-width;
  top: 0;
  bottom: 0;

  width: $options-menu-width;

  color: $dp-greyscale-950;
  background-color: #FFFFFF;

  transition: $options-menu-transition;

  &:hover { background-color: $light-blue; }
}


.dp-trello-card-list
{
  position: relative;
}

ul.dp-list .dp-trello-card-list
{
  padding-left: 0;
}

.dp-trello-card-list-item
{
  position: relative;
  overflow: hidden;

  &:hover
  {
    .options-multiple .options-hint { right: 0; }
    .options-single { right: 0; }
  }

  .link {
    cursor: pointer;
  }

  .content
  {
    .card-title {
      color: $dp-greyscale-950;
    }

    .card-title, .board-name, .list-name
    {
      border: 0;
      padding: 0;
    }

    .list-name { max-width: 50px; }

    &:hover {
      background-color: $light-blue;
      .card-title, .board-name, .list-name, .content { color: $dp-sonic-primary }
    }
  }

  .content span.long-content
  {
    display: inline-block;
    overflow: hidden;
    width: 95%;

    white-space: nowrap;
    text-overflow: ellipsis;
  }
}