$dp-styles-font-path: "~@deskpro/react-components/src/styles/fonts/";
@import "~@deskpro/react-components/src/styles/main.scss";

.dp-trello-main-nav {

  .dp-button {
    width: 100%;
  }
}

.dp-trello-form-buttons {

  .dp-button--primary {
    float: left
  }

  .dp-button--secondary {
    float: right
  }

  clear: both;
}

@import "./deskpro/colors";
@import "./CardList/index";





